<html>
<head>
	<meta http-equiv="Content-Language" content="zh-cn">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>后台管理 - {$SystemName}</title>
</head>
<frameset rows="125,*" framespacing="0" border="0" frameborder="0">
	<frame name="top" scrolling="no" noresize target="main" src="{:U('Admin/Index/top/')}" marginwidth="0" marginheight="0">
	<frameset cols="195,*">
		<frame name="left" target="main" src="{:U('Admin/Index/menu/')}" marginwidth="0" marginheight="0" scrolling="no" noresize >
		<frame name="main" src="{:U('Admin/Index/info/')}" marginwidth="0" marginheight="0" scrolling="auto">
	</frameset>
	
</frameset><noframes></noframes>

</html>