<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/Public/image/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/Public/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/Public/css/style.css" />
  <script type="text/javascript" src="/Public/script/jquery.min.js"></script>
  <script type="text/javascript" src="/Public/script/jquery.SuperSlide.js"></script>
</head>
<body>
    <div class="top">
      <div id="top_t">
        <div id="logo" class="fl"></div>
        <div id="photo_info" class="fr">
          <div id="photo" class="fl">
            &nbsp;
          </div>
          <div id="base_info" class="fr">
            <div class="help_info">
              <a href="javascript:;;" id="hp">&nbsp;</a>
              <a href="javascript:;;" id="gy">&nbsp;</a>
              <a href="{:U('Admin/Login/logout/')}" id="out">&nbsp;</a>
            </div>
            <div class="info_center">
              {$Master}
             <!--  <span id="nt">通知</span><span><a href="#" id="notice">3</a></span> -->
            </div>
          </div>
        </div>
      </div>
      <div id="side_here">
        <div id="side_here_l" class="fl"></div>
        <div id="here_area" style="display: none" class="fl">当前位置：</div>
      </div>
    </div>
</body>

</html>
   
 