<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/Public/image/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/Public/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/Public/css/main.css" />
    <script type="text/javascript" src="/Public/script/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/script/colResizable-1.3.min.js"></script>
    <script type="text/javascript" src="/Public/script/common.js"></script>
    <script type="text/javascript" src="/Public/plugin/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="/Public/plugin/layer/layer.js"></script>
    <script type="text/javascript" src="/Public/plugin/validate/jquery.validate.js"></script>
    <script type="text/javascript">
        var UPLOAD_URL  = "{:U('Admin/Upload/upload/')}";//原图提交地址
    </script>
</head>
<body>
<div class="container">