<include file="Public:header" />
<div id="table" class="mt10">
    <div id="search_bar" class="mt10" style="padding-bottom: 10px;">
        <div class="box">
            <div class="box_border">
                <div class="box_top">
                    <a href="{:U('/Admin/Area/')}"><b class="pl15">省份列表</b></a></b>&nbsp;>>&nbsp;<a href="{:U('/Admin/Area/city/',array('proid'=>$province['proid']))}"><b class="pl15">({$province.name})城市列表</b></a></b>&nbsp;>>&nbsp;<b class="pl15">({$city.name})区/县列表</b>
                    <a href="{:U('/Admin/Area/addDistrict',array('proid'=>$province['proid'],'cityid'=>$city['cityid']))}" target="main" style="margin: 3px;float: right" class="ext_btn"><span class="add"></span>添加</a>
                </div>
                <div style="border-top:1px solid #dadada;" class="box_bottom pb5 pt5 pr10">
                    <div style="text-align:right;" class="search_bar_btn">
                        <form name="sform" method="get" action="__SELF__">
                            名称：<input class="input-text lh25" type="text" size="15" name="name" value="{$Think.get.name}">
                            <input type="submit" class="ext_btn ext_btn_submit" value="搜索">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box span10 oh">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
            <tr>
                <th width="20">编号</th>
                <th width="280" >名称</th>
                <th width="40" >排序值</th>
                <th style="text-align:center; width:50px;">操作</th>
            </tr>
            <if condition="empty($districtlist)">
                <tr class="tr"><td colspan="4" style="text-align:center;">暂无任何信息</td></tr>
                <else />
                <foreach name='districtlist' item="district">
                    <tr class="tr">
                        <td class="td_center">{$district.disid}</td>
                        <td class="td_center">{$district.name}</td>
                        <td class="td_center">{$district.list}</td>
                        <td class="td_center">
                            <a href="javascript:;;" onclick="javascript:window.location.href='{:U('/Admin/Area/editDistrict/',array('proid'=>$province['proid'],'cityid'=>$city['cityid'],'disid'=>$district['disid'],$var_page=>$page))}'">【修改】</a>
                            <a href="javascript:;;" onclick="confirm('确定要删除此信息吗？', '{:U('/Admin/Area/deleteDistrict/',array('proid'=>$province['proid'],'cityid'=>$city['cityid'],'disid'=>$district['disid'],$var_page=>$page))}')">【删除】</a>
                         </td>
                    </tr>
                </foreach>
            </if>
        </table>
        <div class="page mt10">
            <div class='pagination'>{$pageshow}</div>
        </div>
    </div>
</div>
<include file="Public:footer" />
