<include file="Public:header" />
<style>
    #btnUploadImage{
        float:left;
        padding-left:10px;
    }
    .uploadify-queue{
        float: left;
        clear: both;
    }
    .uploadify-queue-item{
        width: auto;
    }
    .cancel{
        float: right;
        padding-left: 10px;
    }
    .uploadify{
        background-color: gray;
        margin-left: 10px;
    }
    .uploadify-button{
        line-height: 28px;
        text-align: center
    }
</style>
<script type="text/javascript" src="/Public/plugin/laydate/laydate.js"></script>
<script language="javascript" type="text/javascript" src="/Public/plugin/KindEditor/kindeditor-min.js"></script>
<script language="javascript" type="text/javascript" src="/Public/plugin/KindEditor/lang/zh_CN.js"></script>
<script type="text/javascript">
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            resizeType : 1,
            allowPreviewEmoticons : false,
            allowImageUpload : true,
            items : [
                'source','fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link'],
            afterBlur: function(){this.sync();}
        });
    });
    $(function(){
        $('form').validate({
            errorPlacement: function(error, element){
                $(element).next('.field_notice').hide();
                if($("input[name=adtype]:checked").val()==1){
                    $(".ke-container").addClass("kindeditor-error");
                }
                $(element).after(error);
            },
            success       : function(label){
                label.addClass('right').text('OK!');
                if($("input[name=adtype]:checked").val()==1){
                    $(".ke-container").removeClass("kindeditor-error");
                }
            },
            onfocusout : false,
            onkeyup    : false,
            rules : {
                title : {
                    required : true,
                    remote: {
                        url: "{:U('/Admin/Ad/CheckExists/')}",     //后台处理程序
                        type: "post",               //数据发送方式
                        dataType: "json",           //接受数据格式
                        data: {                     //要传递的数据
                            title: function() {
                                return $("input[name=title]").val();
                            }
                        }
                    }
                },
                placeid : {
                    required : true,
                },
                linkurl : {
                    required : true,
                    url:true,
                },
            },
            messages : {
                title : {
                    required : '提示：广告标题不能为空',
                    remote   : "提示：此标题已经存在"
                },
                placeid : {
                    required : '提示：请选择广告位'
                },
                linkurl : {
                    required : '提示：请填写广告链接地址',
                    url:'提示：请输入正确的URL地址'
                }
            }
        });
    });
</script>
<div id="forms" class="mt10">
    <div class="box">
        <div class="box_border">
            <div class="box_top"><b class="pl15">添加广告</b></div>
            <div class="box_center">
                <form class="jqtransform" name="form1" action="{:U('/Admin/Ad/add')}" method="post">
                    <table class="form_table pt15 pb15" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="td_right">广告标题：</td>
                            <td class=""><input name="title" type="text" class="input-text lh30" size="40"></td>
                        </tr>
                        <tr>
                            <td class="td_right">链接地址：</td>
                            <td class=""><input name="linkurl" value="http://" type="text" class="input-text lh30" size="40"></td>
                        </tr>
                        <tr>
                            <td class="td_right">广告类型：</td>
                            <td class="">
                                <input type="radio" name="adtype" id="adtype_0" value="0" checked="checked" ><label for="adtype_0">图片广告 </label>
                                <input type="radio" name="adtype" id="adtype_1" value="1" ><label for="adtype_1">文字广告 </label>
                            </td>
                        </tr>
                        <tr class="ad-pic">
                            <td class="td_right">广告图片：</td>
                            <td class="">
                                <input name="picpath" style="float: left" readonly="readonly" id="picpath" type="text" class="input-text lh30" size="40">
                                <input class="ext_btn ext_btn_submit" type="button" id="btnUploadImage" value="上传图片" />
                            </td>
                        </tr>
                        <tr class="ad-content" style="display:none;">
                            <td class="td_right">广告内容：</td>
                            <td class=""><textarea style="width: 700px; height: 382px; resize:none;" name="content" cols="" rows="" class="textarea"></textarea></td>
                        </tr>
                        <tr>
                            <td class="td_right">所属广告位：</td>
                            <td class="">
                                <select class="select" name="placeid" style="width: 258px;">
                                    <option value="">选择所属广告位</option>
                                    <foreach name="adplacelist" item="adplace">
                                        <option value="{$adplace.placeid}">{$adplace.name}</option>
                                    </foreach>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_right">描述：</td>
                            <td class=""><textarea style="resize: none;font-size: 12px;" name="description" cols="30" rows="10" class="textarea"></textarea></td>
                        </tr>
                        <tr>
                            <td class="td_right">排序值：</td>
                            <td class=""><input name="list" type="text" value="0" class="input-text lh30" size="40"><span style="color:red;padding-left:3px;">提示：排序值影响广告显示顺序，从大到小显示</span></td>
                        </tr>
                        <tr>
                            <td class="td_right">开始时间：</td>
                            <td class=""><input name="begintime" id="begintime" type="text" class="input-text lh30 laydate-icon" size="40"></td>
                        </tr>
                        <tr>
                            <td class="td_right">结束时间：</td>
                            <td class=""><input name="endtime" id="endtime" type="text" class="input-text lh30 laydate-icon" size="40"></td>
                        </tr>
                        <tr>
                            <td class="td_right">是否显示：</td>
                            <td class="">
                                <input type="radio" name="isshow" id="isshow_1" value="1" checked="checked"><label for="isshow_1">是 </label>
                                <input type="radio" name="isshow" id="isshow_0" value="0"><label for="isshow_0">否</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_right">&nbsp;</td>
                            <td class="">
                                <input type="submit" name="button" class="btn btn82 btn_save2" value="保存">
                                <input type="button" onclick="javascript:history.go(-1);" name="button" class="btn btn82 btn_res" value="返回">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("input[name=adtype]").click(function(){
            $("textarea[name=content]").rules("remove"); //全部移除验证规则
            if($(this).val() == 1){
                $(".ad-content").show();
                $(".ad-pic").hide();
                $("textarea[name=content]").rules("add", { required: true, messages: { required: "提示：请填写广告内容"} });
            }else{
                $(".ad-content").hide();
                $(".ad-pic").show();
                $(".ke-container").removeClass("kindeditor-error");
                //$("textarea[name=content]").rules("remove"); //全部移除验证规则
            }
        });
        //上传图片
        $("#btnUploadImage").uploadify({
            'formData'     : {
                '{:session_name()}':'{:session_id()}'
            },
            'fileSizeLimit'	: '2048KB',//限制大小 2M
            'buttonText'	: '上传图片',
            'fileObjName'   : 'Filedata',
            'width'         : 94,
            'height'        : 28,
            'multi'         : false,//多个 默认true
            'progressData' 	: 'percentage',
            'fileTypeDesc'  : '请选择图片...',
            'fileTypeExts'  : '*.jpg;*.jpeg;*.png',
            'swf'           : '/Public/plugin/uploadify/uploadify.swf',
            'uploader'      : "{:U('/Admin/Upload/upload/')}",
            'onFallback' 	: function() {
                $(this).click(function(){alert('浏览器检测不到Flash插件，无法上传！','error')});
            },
            'onUploadStart' : function(file) {
            },
            'onUploadSuccess' : function(file, data, response) {
                data = $.parseJSON(data);
                if(data.error==false){
                    $("input[name=picpath]").val(data.picpath);
                }else{
                    alert(data.message);
                }
            },
            'onUploadError' : function(file, errorCode, errorMsg, errorString) {
                if("Cancelled"!=errorString){
                    alert('文件 ' + file.name + ' 上传失败 ','error');
                }
            }
        });
    })
    var begintime = {
        elem: '#begintime',
        format: 'YYYY/MM/DD hh:mm:ss',
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function(datas){
        }
    };
    var endtime = {
        elem: '#endtime',
        format: 'YYYY/MM/DD hh:mm:ss',
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function(datas){
        }
    };
    laydate.skin('molv');
    laydate(begintime);
    laydate(endtime);
</script>
<include file="Public:footer" />
  